@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --identity-esc-rgb: 130, 25, 35;
  --identity-cloud-rgb: 255, 255, 255;
  --identity-carbon-rgb: 38, 38, 38;
}

html,
body {
  color: rgb(var(--identity-cloud-rgb));
  background: rgb(var(--identity-esc-rgb));
  font-family: var(--font-manrope), var(--font-ibm-plex-sans-thai), "sans-serif";
}
